body {
    background-color: lightblue;
}

@font-face {
    font-family: 'Digital-7';
    src: url('./Fonts/digital-7.ttf') format('truetype');
}

h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
    padding-top: 50px;
    font-size: 50px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora {
    background: #ffffff;
    padding: 20px 10px 0px 20px; /* Padding: cima, direita, baixo, esquerda */
    border-radius: 20px;
    height: 500px;
    width: 300px;
    border: 10px solid #ababab;
    margin-bottom: 300px;
}

#campotexto input {
    background: #dce6f2;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 80px;
    width: 280px;
    border: 2px solid #b4b5b9;
    font-family: 'Digital-7', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.button {
    position: relative; /* Define o contêiner como ponto de referência para o botão #igual */
}

.button input {
    background-color: black;
    color: #dedede;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-family: "Tajawal", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
}

#zero {
    width: 110px;
}

#igual {
    position: absolute; /* Remove o botão do fluxo normal do layout */
    right: 8px; 
    height: 110px;
}
